*.a
*.so
*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
.vscode
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
pretrained_weights/
python/
fault_list.txt
version.txt
tests/
darknet
.fuse*

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
